# Environment Variables
NEXT_PUBLIC_SUPABASE_URL=https://obqvgbqvcpisupeyywrb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Master Password for Login
MASTER_PASSWORD=your_master_password

# Optional: For development
NODE_ENV=development


# Cloudinary (Görsel Yükleme) - Backend'de kullanılacak
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_UPLOAD_PRESET=your_upload_preset
